@media (max-width: 575px) {
  .banner {
    height: 60px;
  }
  .section__list--item {
    margin-left: auto;
    margin-right: auto;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  .apple {
    margin-bottom: 5px;
  }
}

@media (min-width: 576px) {
  .banner {
    height: 40px;
  }
  .page-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .store-catalogue {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .store-catalogue__link {
    width: 255px;
  }
  .slider-promo {
    width: 310px;
    display: block;
  }
  .aside__menu--item {
    width: 200px;
  }
  .section__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .check-suppport {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .footer-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .footer-nav__list--item {
    width: 33.3333%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    &:nth-child(2),
    &:nth-child(5) {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
    &:nth-child(3n) {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
    }
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .page-nav__list--item {
    width: 33.3333%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    &:nth-child(2),
    &:nth-child(5) {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
    &:nth-child(3n) {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
    }
  }

  .form__item--search {
    width: 460px;
  }
  .slider-promo {
    width: 310px;
  }
  .section__list--item {
    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: 40px;
    }
    &:nth-child(2n + 1) {
      margin-right: auto;
    }
  }
}
@media (min-width: 576px) and (max-width: 991px) {
  .mobile-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .apple {
    margin-right: 20px;
  }
}

@media (min-width: 768px) {
  .page-nav__list {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .store-catalogue__link {
    width: 50%;
  }
  .form__item--search {
    -webkit-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
  }
  .check-suppport {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .slider-promo {
    width: 500px;
  }
  .section__list {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .section__list--item {
    &:not(:nth-last-child(-n + 3)) {
      margin-bottom: 40px;
    }
  }
}
@media (min-width: 992px) {
  .header-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -15px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .manufacture {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mobile-list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .apple {
    margin-bottom: 5px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .slider-promo {
    width: 730px;
  }
  .section__list--item:not(:nth-child(3n)) {
    margin-right: 200px;
  }
}
@media (min-width: 1200px) {
  .slider-promo {
    width: 910px;
  }
  .section__list {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .footer-nav__list {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
