@media (max-width: 575px) {
  .banner {
    height: 60px;
  }
  .section__list li:not(:last-child) {
    margin-bottom: 20px;
  }
  .section__list li {
    margin-left: auto;
    margin-right: auto;
  }

  .apple {
    margin-bottom: 5px;
  }
}
