*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: #242121;
}
li {
  list-style: none;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.6;
}
.mg-bottom {
  margin-bottom: 20px;
}
