*,
*::before,
*::after {
  margin: 0;
  padding: 0; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none;
  color: #242121; }

li {
  list-style: none; }

.mg-bottom {
  margin-bottom: 20px; }

.banner, .store-catalogue__link, .form, .aside-slider, .aside__menu, .slider-promo__list, .slider-promo__list--item, .manufacture__list, .section__list, .footer-reference-main, .footer-mobile-list, .mobile-list__item--link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.banner, .store-catalogue__link, .manufacture__list, .footer-reference-main, .mobile-list__item--link {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.aside__menu, .manufacture__list {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.slider-promo__list, .footer-reference-main {
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.banner, .store-catalogue__link, .mobile-list__item--link {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.aside__menu, .section__list, .footer-mobile-list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.slider-promo__list {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

/* B A N N E R*/
.wrapper-banner {
  background-color: #ffa382; }

/* H E A D E R */
.wrapper-header {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ff6624; }

.page-title {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  line-height: 1.5;
  font-weight: bold;
  color: #333;
  text-transform: none; }

.page-nav__list--link {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 1.6;
  font-weight: 400;
  color: #242121;
  text-transform: none; }
  .page-nav__list--link:hover, .page-nav__list--link:focus {
    color: #a32929; }

/* second-nav row*/
.store-catalogue__link {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 1.6;
  font-weight: 400;
  color: #242121;
  text-transform: none;
  width: 290px;
  height: 35px;
  background-color: #428bca;
  border: #fff solid 2px;
  border-radius: 3px; }

.catalogue::before {
  margin-right: 10px;
  content: '';
  background-image: url("../img/icons/open-menu.png");
  width: 24px;
  height: 24px; }

.form__item {
  height: 35px;
  border-radius: 3px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  font-weight: bold;
  color: #242121;
  text-transform: none; }

.form__item--btn {
  width: 50px; }

.form__item--search {
  padding-left: 10px;
  width: 240px; }

.header-icons {
  display: none; }

.header-icons__btn {
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer; }
  .header-icons__btn:hover {
    background-color: rgba(205, 92, 92, 0.5); }

.button-favorite {
  background-image: url("../img/icons/icon-heart.png"); }

.button-basket {
  background-image: url("../img/icons/icon-basket.png"); }

.wrapper {
  background-color: #ebe3e3;
  padding-top: 20px;
  padding-bottom: 20px; }

.aside__menu {
  width: 100%;
  height: 100%; }

.aside__menu--link {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: #242121;
  text-transform: none; }
  .aside__menu--link:hover {
    color: #00f; }

.slider-promo {
  width: 500px;
  display: none;
  height: 300px;
  background-image: url("https://i.citrus.ua/uploads/banana/2020/may/1066400-14.jpg?_t=1589286291");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

.slider-promo__nav {
  background: -o-linear-gradient(306.08deg, #fb6c46 -0.14%, #d14a9a 106.86%), #fff;
  background: linear-gradient(143.92deg, #fb6c46 -0.14%, #d14a9a 106.86%), #fff; }

.slider-promo__list--item {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.slider-promo__list--link {
  width: 100%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #000;
  text-transform: none; }
  .slider-promo__list--link:hover {
    color: #00f;
    background-color: rgba(105, 71, 71, 0.1); }

.slider-ctrl {
  position: absolute;
  top: 50%;
  position: relative; }

.slider-ctrl__btn {
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffd3b6;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%); }
  .slider-ctrl__btn:hover, .slider-ctrl__btn:focus {
    background-color: #ee6060; }

.slider-ctrl-prev {
  left: 0;
  background-image: url("../img/icons/slider-left.png"); }

.slider-ctrl-next {
  right: 0;
  background-image: url("../img/icons/slider-right.png"); }

/* manufacture section*/
.manufacture {
  height: 60px;
  display: none; }

.manufacture__list {
  width: 100%; }

.manufacture__list--link {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 600;
  color: #242121;
  text-transform: none; }
  .manufacture__list--link:hover, .manufacture__list--link:focus {
    color: #00f; }

/* - Laptops and Popular section - */
.section__list {
  margin-bottom: 20px; }

.section__title {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  line-height: 1.2;
  font-weight: bold;
  color: #000;
  text-transform: none;
  margin-bottom: 10px; }

.section__list--item {
  width: 175px; }

.item__info {
  padding: 10px;
  width: 175px;
  position: absolute;
  bottom: 10px;
  left: 0px; }

.item__desc {
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  color: #000;
  text-transform: none; }

.item__price {
  padding-left: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 1.2;
  font-weight: bold;
  color: #4ba34b;
  text-transform: none; }

.item__link {
  display: block;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: relative; }
  .item__link:hover {
    -webkit-transform: scale(1.04);
    -ms-transform: scale(1.04);
    transform: scale(1.04);
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    -webkit-transition: -webkit-transform 0.2s linear;
    transition: -webkit-transform 0.2s linear;
    -o-transition: transform 0.2s linear;
    transition: transform 0.2s linear;
    transition: transform 0.2s linear, -webkit-transform 0.2s linear; }
  .item__link:hover .item__icons {
    z-index: 0; }

.item__icons {
  width: 76px;
  height: 32px;
  position: absolute;
  top: 8px;
  right: 0px;
  z-index: -1; }

.item__icons--btn {
  border: none;
  width: 32px;
  height: 32px;
  background-color: rgba(221, 72, 46, 0.63);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer; }
  .item__icons--btn:hover {
    background-color: #21b872;
    -webkit-transition: background-color 0.2s linear;
    -o-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear; }

.icon-favorite {
  background-image: url("../img/icons/icon-heart.png"); }

.icon-basket {
  background-image: url("../img/icons/icon-basket.png"); }

.show-more {
  text-align: center; }

.show-more__link {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
  color: #1763f1;
  text-transform: none;
  margin-left: auto; }
  .show-more__link:hover {
    font-weight: 600; }

/* Block with additional information*/
.additional__item--title {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  line-height: 1.5;
  font-weight: bold;
  color: #000;
  text-transform: none;
  margin-bottom: 20px; }

.additional__item--desc {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  color: #000;
  text-transform: none;
  margin-bottom: 20px; }

/* -- F O O T E R -- */
.wrapper-footer {
  background-color: #ff6624;
  padding-top: 10px;
  padding-bottom: 10px; }

.check-suppport,
.footer-nav {
  padding-bottom: 10px; }

.footer-reference-main {
  margin-bottom: 10px;
  width: 200px;
  height: 35px;
  background-color: #428bca;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  color: #000;
  text-transform: none;
  border: #fff solid 2px;
  border-radius: 3px; }

.check-suppport__block--title,
.check-suppport__block--phone {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 1.6;
  font-weight: 400;
  color: #000;
  text-transform: none; }

.footer-nav__list--link {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 2;
  font-weight: 400;
  color: #242121;
  text-transform: none; }
  .footer-nav__list--link:hover {
    color: #00f; }

.mobile-list__item--link {
  width: 200px;
  height: 40px;
  background-color: #000;
  border: 1px solid #fff;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  color: #fff;
  text-transform: none; }

/* visually-hidden helper */
.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }
