html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: #242121;
  display: block;
}
li {
  list-style: none;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.header-main {
  min-height: 170px;
  background-color: #ff6624;
}
.main-page {
  flex-grow: 1;
  background-color: #ebe3e3;
}
.footer-main {
  min-height: 100px;
  background-color: #ff6624;
}
/* .container {
  max-width: 1200px;
  margin: 0 auto;
} */

/* -- H E A D E R -- */
/* article banner */
.header-banner {
  height: 30px;
}
.article-background {
  background-color: #ffa382;
}
.header-banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* header nav primary */
.page-nav-primary {
  min-height: 85px;
  /* display: flex; */
  /* justify-content: space-between; */
  align-items: baseline;
  /* flex-wrap: wrap; */
  padding-top: 20px;
}

.page-nav-primary a:hover,
.page-nav-primary a:focus {
  color: rgb(163, 41, 41);
}

/* header nav secondary */
.page-nav-secondary {
}
.store-catalogue {
  /* align-items: center; */
}
.store-catalogue a {
  padding-top: 4px;
  text-align: center;
  min-width: 155px;
  height: 35px;
  background-color: #428bca;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  border: #fff solid 2px;
  border-radius: 3px;
}
.catalogue::before {
  content: '';
  background-image: url('../img/icons/open-menu.png');
  width: 24px;
  height: 24px;
}

.input-search input,
.input-search button {
  height: 35px;
  border-radius: 3px;
  font-size: 16px;
}
.input-search button {
  /* width: 50px; */
}

.list-icons {
  flex-grow: 0.05;
  display: flex;
  justify-content: space-between;
}
.list-icons button {
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.list-icons button:hover {
  background-color: rgba(205, 92, 92, 0.5);
}
.button-favorite {
  background-image: url('../img/icons/icon-heart.png');
}
.button-basket {
  background-image: url('../img/icons/icon-basket.png');
}

/* -- M A I N -- */
.main-page {
  padding-top: 20px;
  padding-bottom: 20px;
}
/* aside - slider */
.aside-slider {
  display: flex;
}
aside {
  width: 300px;
  display: flex;
}
.slider-promotions {
  width: 900px;
}
.aside-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.aside-menu li {
  width: 100%;
  font-size: 18px;
  line-height: 26px;
}
.aside-menu a:hover {
  color: #00f;
}

.slider-promotions {
  height: 300px;
  background-image: url('https://i.citrus.ua/uploads/banana/2020/may/1066400-14.jpg?_t=1589286291');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.slider-nav-promotions {
  background: linear-gradient(143.92deg, #fb6c46 -0.14%, #d14a9a 106.86%), #fff;
}
.slider-nav-promotions ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.slider-nav-promotions li {
  flex-grow: 1;
  display: flex;
}
.slider-nav-promotions a {
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #000;
}
.slider-nav-promotions a:hover {
  color: #00f;
  background-color: rgba(105, 71, 71, 0.1);
}
.slider-ctrl {
  position: absolute;
  top: 50%;
  position: relative;
}
.slider-ctrl-prev,
.slider-ctrl-next {
  position: absolute;
  z-index: 1;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(255, 211, 182);
  transform: translateY(-100%);
}
.slider-ctrl-prev:hover,
.slider-ctrl-next:hover {
  background-color: rgb(238, 96, 96);
}
.slider-ctrl-prev {
  left: 0;
  background-image: url('../img/icons/slider-left.png');
}
.slider-ctrl-next {
  right: 0;
  background-image: url('../img/icons/slider-right.png');
}
.slider-ctrl button {
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
}

/* manufacture section*/
.manufacture {
  height: 60px;
  display: flex;
}
.manufacture-list {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.manufacture-list a {
  font-size: 20px;
  font-weight: 600;
  color: #000;
}
.manufacture-list a:hover {
  color: #00f;
}

/* - Laptops and Popular section - */

.section-laptops {
  padding-top: 20px;
}
.section-laptops-list,
.section-popular-list {
  margin-bottom: 20px;
}
.section-laptops-title,
.section-popular-title {
  font-size: 30px;
  line-height: 36px;
  color: #000;
  font-weight: bold;
  margin-bottom: 10px;
}
.section-laptops-list,
.section-popular-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.section-laptops-item-about {
  padding: 5px;
  width: 175px;
  position: absolute;
  bottom: 10px;
  left: 0px;
}
.section-laptops-item-desc {
  margin-bottom: 10px;
}
.section-laptops-item-price {
  padding-left: 20px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(75, 163, 75);
}

.block-products {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: relative;
}
.block-products:hover {
  transform: scale(1.04);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: transform 0.2s linear;
}
.block-icons {
  width: 76px;
  height: 32px;
  position: absolute;
  top: 8px;
  right: 0px;

  z-index: -1;
}
.block-products:hover .block-icons {
  z-index: 0;
}
.block-icons button:hover {
  background-color: rgb(33, 184, 114);
  transition: background-color 0.2s linear;
}
.block-icons button {
  border: none;
  width: 32px;
  height: 32px;
  background-color: rgba(221, 72, 46, 0.63);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.icon-favorite {
  background-image: url('../img/icons/icon-heart.png');
}
.icon-basket {
  background-image: url('../img/icons/icon-basket.png');
}
.show-more {
  display: flex;
}
.show-more a {
  font-size: 20px;
  font-weight: 400;
  color: rgb(23, 99, 241);
  margin-left: auto;
}
.show-more a:hover {
  font-weight: 600;
}

/* Block with additional information*/
.additional-title {
  font-size: 30px;
  line-height: 36px;
  color: #000;
  font-weight: bold;
  margin-bottom: 20px;
}
.additional-desc {
  font-size: 18px;
  line-height: 24px;
  color: #000;
  font-weight: 400;
  margin-bottom: 20px;
}

/* -- F O O T E R -- */

.footer-page {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-store-block,
.footer-nav,
.footer-mobile {
  flex-grow: 1;
}
.footer-store-block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.footer-checkout,
.footer-support {
  display: flex;
  justify-content: space-between;
}
.support-phone,
.checkout-phone {
  flex-grow: 0.8;
}

.footer-reference-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 200px;
  height: 35px;
  background-color: #428bca;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  border: #fff solid 2px;
  border-radius: 3px;
}
.footer-nav {
  display: flex;
}
.footer-nav a:hover {
  color: #00f;
}
.footer-nav ul {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.footer-mobile {
  display: flex;
}
.footer-mobile-list {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.apple,
.google {
  display: block;
  width: 130px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
}
.google {
  background-image: url('../img/icons/icon-google-play.png');
}
.apple {
  background-image: url('../img/icons/icon-app-store.png');
}
/* visually-hidden helper */
.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
