html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #000;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  text-align: center;
}
li {
  list-style: none;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

/* -- HEADER PAGE -- */
.header-page {
  margin-bottom: 20px;
}
/* header banner */
.header-banner {
  width: auto;
  height: 30px;
  background-color: #ffa382;
  padding-top: 4px;
}
.header-banner a {
  display: block;
  font-size: 18px;
  line-height: 24px;
}
/* first row */
h1 {
  width: 220px;
  font-size: 30px;
  font-weight: 400;
}
.header-general {
  background-color: #ff6624;
  display: flex;
  padding-bottom: 8px;
}
.header-nav {
  display: flex;
  align-items: center;
}

h1,
.header-nav-list-left,
.header-nav-list-right {
  display: flex;
}
.header-nav > ul {
  padding-top: 5px;
}
.header-nav-list-right {
  margin-left: auto;
}
.header-nav > ul > li:not(:last-child) {
  margin-right: 30px;
}
.page-language {
  display: flex;
}
.page-language > li:not(:last-child) {
  margin-right: 5px;
}

.header-nav a {
  font-size: 18px;
  line-height: 24px;
  color: #000;
}

.header-search-basket {
  display: flex;
  flex-grow: 1;
}
.store-catalogue {
  margin-right: 20px;
}
.input-search {
  flex-grow: 2;
  display: flex;
  padding-top: 3px;
  margin-right: 30px;
}
.input-search input {
  height: 30px;
  width: 100%;
}
.input-search button {
  width: 30px;
  height: 30px;
}
.list-choose {
  display: flex;
}
.list-choose button {
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
}
.button-favorite {
  background-image: url('../img/icons/heart.png');
}
.button-basket {
  background-image: url('../img/icons/basket.png');
}

.list-choose li:not(:last-child) {
  margin-right: 30px;
}

.store-catalogue a {
  display: inline-block;
  width: 155px;
  height: 35px;
  background-color: #428bca;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  border: #fff solid 2px;
  border-radius: 3px;
  padding-top: 4px;
}

/* FOOTER PAGE*/
.footer-page {
  background-color: #ff6624;
}

/* M A I N   P A G E  GRID MAKET*/
.main-page {
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: 300px 50px 400px 400px 1fr;
  grid-template-areas: 'menu slider' 'manufactures manufactures' 'laptops laptops' 'popular popular' 'additional additional';
}
aside {
  grid-area: menu;
}
.slider-promotions {
  grid-area: slider;
}
.manufacture {
  grid-area: manufactures;
}
.section-laptops {
  grid-area: laptops;
}
.section-popular {
  grid-area: popular;
}
.additional {
  grid-area: additional;
}

/* ASIDE MENU */

.aside-menu li {
  font-size: 18px;
  line-height: 26px;
}

/* slider with promo */
.slider-promotions {
  height: 300px;
  background-image: url('https://i.citrus.ua/uploads/banana/2020/may/1066400-14.jpg?_t=1589286291');
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}
.slider-nav-promotions {
  background: linear-gradient(143.92deg, #fb6c46 -0.14%, #d14a9a 106.86%), #fff;
}
.slider-nav-promotions ul {
  display: flex;
  justify-content: space-around;
}

.slider-nav-promotions a {
  font-size: 14px;
  font-weight: 400;
  color: #000;
}
.slider-nav-promotions a:hover {
  color: #00f;
}
.slider-ctrl {
  position: absolute;
  top: 50%;
  position: relative;
}
.slider-ctrl-prev,
.slider-ctrl-next {
  position: absolute;
  z-index: 1;
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(-50%);
}
.slider-ctrl-prev {
  left: 0;
  background-image: url('../img/icons/slider-left.png');
}
.slider-ctrl-next {
  right: 0;
  background-image: url('../img/icons/slider-right.png');
}
.slider-ctrl button {
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
}

/*  MANUFACTURER */

.manufacture-list {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}
.manufacture-list a {
  font-size: 20px;
  font-weight: 400;
  color: #000;
}
.manufacture-list a:hover {
  color: #00f;
}

/* S E C T I O N   L A P T O P S*/
.section-laptops {
  padding-top: 20px;
}
.section-laptops-list,
.section-popular-list {
  margin-bottom: 20px;
}
.section-laptops-title,
.section-popular-title {
  font-size: 30px;
  line-height: 36px;
  color: #000;
  font-weight: bold;
  margin-bottom: 10px;
}
.section-laptops-list,
.section-popular-list {
  display: flex;
  justify-content: space-between;
}
.section-laptops-list img,
.section-popular-list img {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.section-laptops-list img:hover,
.section-popular-list img:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.show-more {
  display: flex;
}
.show-more a {
  font-size: 20px;
  font-weight: 400;
  color: rgb(23, 99, 241);
  margin-left: auto;
}
.show-more a:hover {
  font-weight: 600;
}
